<div>
   <form id="{{bookmark.id}}" class="form create-btn save-btn remove-btn box">
      <label for="New Bookmark"></label>
      <div class="input-group">
         <span class="input-group-text">Title</span>
         <input class="form-control title" type="text" name="bookmark[title]" placeholder="header" value="{{bookmark.title}}">
      </div>
      <div class="input-group">
         <span class="input-group-text input-url-label">Url</span>
         <input class="form-control" type="text" name="bookmark[url]" placeholder="link" value="{{bookmark.url}}">
      </div>
      <div class="input-group">
         <span class="input-group-text">Text</span>
         <input class="form-control" type="text" name="bookmark[description]" placeholder="description" value="{{bookmark.description}}">
      </div>
      <div class="input-group">
         {{#if bookmark.title}}
         <button class="btn btn--form" type="submit" value="save">Save</button>
         {{else}}
         <button class="btn btn--form" type="submit" value="create">Add</button>
         {{/if}}
      </div>
      {{#if bookmark.title}}
      <div class="input-group">
         <button class="btn remove-btn" type="button" value="remove">Remove</button>
      </div>
      {{/if}}
   </form>
</div>
